body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    border: none;
    background: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}
